.body{
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.header{
    padding: 0 10%;
    font-family: Roboto;
    background-color: #1F2937;
    color: white;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav h1{
    font-size: 24px;
    color: #F9FAF8;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}

.text-box h1{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900px;

}
.text-box p{
    font-size: 18px;
    color: #E5E7EB;
}
.text-box button{
    background-color: #3882f6;
}
.image-container{
    display: flex;
    align-items: center;
    gap: 20px;

}
ul {
    white-space: nowrap;
}
ul, li{
    list-style: none;
    display: inline;
}

.information{
    text-align: center;
    padding: 100px;
}

.quote{
    background-color: #E5E7EB;
    font-size:36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    align-items: center;
    padding: 75px;
    justify-content: center;
}

.quote-author{
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
    background-color: #E5E7EB;
    color: black; 
}

.action{
    background-color: #3882F6;
    padding: 30px;
    margin: 10px;
}

footer{
    padding: 30px;
    background-color: #1F2937;
    color: white;
    text-align: center;
}