*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.header{
    padding: 0 10%;
    font-family: Roboto;
    background-color: #1F2937;
    color: white;
    padding: 30px;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav h1{
    font-size: 24px;
    color: #F9FAF8;
    padding: 30px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
.text-box{
    display: flex;
    justify-content: space-between; /* text left, image right */
    align-items: center;
    gap: 40px;
    padding: 30px;
}
.content-box{
    max-width: 500px;
}
.text-box h1{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
    padding: 30px;

}
.text-box p{
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px;
}
.text-box button{
    background-color: #3882f6;
    width: 100px;
    height: 50px;
    border-radius: 100px;
    color: white;
}
.text-box img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
ul {
    white-space: nowrap;
}
ul, li{
    list-style: none;
    display: inline;
}

#information{
    max-width:960px;
    margin:10px auto;
    padding: 100px;
    text-align:center;
}
#information figure{
    display:inline-block;
    max-width:960px;

}
#information img{
    display: inline-block;
    vertical-align: bottom;

}
#information figcaption{
    white-space: pre;
}

.quote{
    background-color: #E5E7EB;
    font-size:36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    align-items: center;
    padding: 75px;
    justify-content: center;
}

.quote-author{
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
    background-color: #E5E7EB;
    color: black;
}

.action{
    background-color: #3882F6;
    padding: 30px;
    margin: 100px;
    color: white;
    display:inline-block;
    text-align: left;
    width: 1000px;
    border-radius: 15px;

}
.action button{
    background-color: #3882f6;
    width: 100px;
    height: 50px;
    border-radius: 100px;
    color: white;
    float: right;
}

footer{
    padding: 50px;
    background-color: #1F2937;
    color: white;
    text-align: center;
}